Source: gemian-meta
Section: metapackages
Priority: optional
Maintainer: Adam Boardman <adamboardman@gmail.com>
Standards-Version: 4.1.3
Build-Depends: debhelper, germinate

Package: gemian-desktop
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Gemian full desktop system (4G)
 This package depends on all of the packages for the full the Gemian desktop
 .
 It is safe to remove this package if some of the system packages are
 not desired.

Package: gemian-desktop-wifi
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Gemian full desktop system (WiFi only)
 This package depends on all of the packages for the full the Gemian desktop
 .
 It is safe to remove this package if some of the system packages are
 not desired.

Package: gemian-desktop-minimal
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Gemian minimal desktop system
 This package depends on the core set for a functional Gemian system
 .
 It is safe to remove this package if some of the included packages are
 not desired.
